.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

:root{
    --padding-nav-top-bottom: 5vh;
    --padding-nav-left-right: 2.5%;  
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    section{
        margin: 0 5% 0 5%;
    }
    
    :root{
        --padding-nav-top-bottom: 5%;
        --paddiing-nav-left-right: 100%;
    }

    nav a{
        font-size: 12px;
    }

}

@media only screen and (max-width: 800px) {
    iframe {
      display: none;
    }
 }

*{
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img{
    width: 100%;
    height: auto;
}




body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
nav {
    overflow: hidden;
    background-color: rgb(7, 0, 0);
    /*position: fixed;*/
    padding: 0 !important;
}
  
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: var(--padding-nav-top-bottom) var(--padding-nav-left-right);
    text-decoration: none;
    font-size: 17px;
}
  
nav a:hover {
    background-color: #ddd;
    color: black;
}
  
nav a.active {
    background-color: rgb(107, 103, 102);
    color: white;
}




#home{
    text-align: center;
}

nav iframe{
    float:right;
}

.titulo-principal{
    margin:0;
    margin-top: 6%;
    font-size: 36px;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1.5px;
    text-align: center;
}

.titulo-secundario{
    margin:0;
    margin-top: 10px;
    margin-bottom: 9px;
    font-size: 32px;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1.4px;
    text-align: center;
    color: #161616;
}

.subtitulo-principal{
    margin: 8px 0px 40px 0px;
    font-size: 18px;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1px;
    color: rgba(105, 103, 103, 0.89);
    font-style: italic;
}

/*De aqui abajo fue hecho en casa*/

p{
    font-family: 'Slabo 27px', serif;
    font-size: 16.5px;
    letter-spacing: 1px;
    text-align: justify;
    font-style: bold;
    line-height: 1.3em;
}

#home p{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 45px;
}


#cita{
    margin-top: 7%;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.9px;
    font-size: 16.5px;
    padding: 35px;
    border: solid 1.5px black;
}

span{
    font-weight: 700;
}


  /*  ELEMENTOS DE LA GALERIA DE IMAGENES */
   
  #galeria {
    padding:0;
    margin:40px auto 55px auto;
    list-style-type:none;
    height:300px;
    width:774px;
    /*border:1px solid #888;*/
    }
  #galeria li {
    width:60px;
    height:300px;
    float:left;
    border-left:2px solid #000;
    }
  #galeria li img {
    filter: grayscale(100%);
    height:300px;
    border:0;
    }
  #galeria li:hover {
    background:#eee;
    width:294.6px;
    }
  #galeria li:hover img {
    width:294.6px;
    }

*::selection{
    background-color: #000;
    color: white;
}