#container
{
    margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container
{
	float: left;
	width: 100%;
	background: #FFF;
}

#content
{
	clear: left;
	float: left;
	width: 60%;
	padding: 20px 0;
	margin: 0 0 0 4%;
	display: inline;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 33%;
	padding: 20px 0;
	margin: 0 3% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

@media only screen and (max-width: 320px) and (max-height: 470px){
    html{
        margin: 0;
        width: 95vw;
    }
    body{
        margin: 5px;
        width: 100%;
    }
    #aside{
        display: none;
    }
    #content{
        width: 80%;
    }
    #navigation{
        display: block;
        margin: 0 auto;
    }
    #navigation ul li{
        display: block;
        clear: left;
        width: 90%;
        margin: 0 auto;
    }
    #navigation ul li a{
        border: none;
        text-align: center;
        margin: 0 auto;
    }
    #content img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    #header{
        width: 90%;
    }
}