/*UNIVERSAL RULES*/

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

html {
    font-size: 17px;
}

/*NAVBAR*/
.main-header {
    height: 70px;
    width: 100%;
    padding: 15px 20px;
    position: absolute; /*position: fixed;*/
    background: rgba(255, 255, 255, 0.979);
    z-index: 1;
}

.logo-navigation__menu {
    height: 52px;
}

.items-navigation__menu {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 50px;
}

.items-navigation__menu > a{
    color: black;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 500;
}

/*SECCIONES*/

    /*SECCION 1*/
.main-section {
    display: block;
    height: 100vh;
    background-image: url(../images/fondo-main.jpg);
    background-size: cover;
    background-position: center;
    border: 10px solid black;
}

.main-section-h1 {
    position: absolute;
    color: white;
    top: calc(50% - 20.5px);
    margin: 0 10vw;
    text-align: center;
    line-height: 1.7em;
}

    /*SECCION 2*/
.subcontainer {
    width: 50vw;
    height: auto;
    background: rgba(0, 0, 0, 0.815);
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

.border-left {
    border-left: 5px solid #ff7c00;
}

.webdesign-title{
    color: white;
    margin: 10px 0px;
    padding: 10px 0px 0px 50px;
}

.web-description{
    font-size: 1rem;
    color: white;
    padding: 50px;
    text-align: left;
    line-height: 1.4rem;
}

button{
    text-align: center;
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    color: white;
    transition: .5s;
    border: 1px dashed white;
    margin-bottom: 10px;
}

button:hover{
    color: black;
    background: rgba(255, 255, 255, 0.808);
    border-color: black;
    transition: .7s;
}

section:nth-of-type(2){
    display: flex;
}


/*CONTENIDO OCULTO*/
    /*SIDEBAR*/
.sidebar-hidden {
    display: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

aside{
    width: 0;
    height: 100vh;
    z-index: 2;
    position: fixed !important;
    overflow: auto;
    background: rgba(34, 34, 34, 0.863);
    transition: .8s;
}
aside > section > a:first-of-type{
    margin-top: 6vh;
    text-align: right;
    font-size: 30px;
    background: initial;
}
aside > section > a{
    display: block;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
}
aside > section > a:hover{
    background-color: rgb(66, 66, 83);
}



/*MEDIA QUERIES*/
    /*TABLET*/
@media screen and (max-width: 768px){
    .subcontainer{
        width: 90vw;
    }
    .web-description{
        text-align: justify;
    }
}
    /*SMARTPHONE*/
@media screen and (max-width: 576px){
    .items-navigation__menu {
        display: none;
    }
    .logo-navigation__menu {
        position: absolute;
        right: 5vw;
    }
    .sidebar-hidden{
        display: inline-block;
    }
    .main-section-h1 {
        top: calc(50% - 50px);
    }
    .web-description{
        text-align: left;
    }
}
    /*IPHONE 5/SE AND SIMILARS*/
    @media screen and (max-width: 350px){
        .subcontainer{
            width: 95vw;
            height: 80vh;
        }
        .subcontainer > div{
            padding: 20px 10px 10px 10px;
            margin-bottom: 1.5vh;
            font-size: 15px;
        }
        .main-section-h1{
            top: calc(50vh - 60px);
            font-size: 19px;
        }
    }