.fondo_negro{
    background-color: #000000;
}

.tipografia_general{
    font-family: 'Titillium Web', sans-serif;
    text-align: justify;
    color: white;
    font-size: 16px;
}

.titulos{
    /* 'Righteous' */
    font-family: 'Fjalla One', sans-serif;
    color: #3b75e0cc;
    font-size: 18px;
}

#photo-tim{
    border-radius: 50%;
    border-color: #3b75e0cc;
    border-style: solid;
    border-width: 10px;
    filter: grayscale(20%);
    box-shadow: 3px 3px 3px #7a787863;
    width: 200px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 18px;
}

#video{
    text-align: center;
    color: #3b75e0cc;
    font-size: 18px;
}

#sugerencia{
    color: #3b75e0cc;;
    font-family: 'Titillium Web', sans-serif;
}

body{
    margin: 30px;
}

header {
    background-image: url(https://www.setaswall.com/wp-content/uploads/2017/06/PC-Technology-Wallpapers-19-1200-x-800.jpg);
}

#video{
    background-image: url(https://www.setaswall.com/wp-content/uploads/2017/06/PC-Technology-Wallpapers-19-1200-x-800.jpg);
}

footer{
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.avisos{
    border-style: groove;
    border-width: 5px;
    border-color: #3b75e0cc;;
}

#icon-vs{
    float: left;
    width: 110px;
    margin:10px;
}

.imagenes-javascript-css{
    float: right;
    width: 100px;
    height: 100px;
}