*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0px !important;
    /*background-image: url(http://www.hdfondos.eu/preview/get_photo/70717/2560/1600);*/
    background: black;
}
h2, section > p{
    text-align: center;
}

.header{
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
}

/*
.side-drawer{
    background: white;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
}
*/

.navigation-drawer{
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0);
    width: 240px;
    height: 100vh;
    color: white;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 800ms ease-out;
}

.open-drawer{
    transform: translateX(0);
}

.item-nav{
    width: 35px;
    height: 3px;
    background: white;
    display: block;
    margin: 5px 0;
}
.side-drawer{
    margin-left: 5px;
    background: transparent;
    border: none;
    height: 50px;
}
.mobile_items > li{
    line-height: 2em;
}
.mobile_items li ul li{
    line-height: 1em;
}
li{
    list-style-type: none;
}