*{
    margin:     0;
    box-sizing: border-box;
    overflow:   auto;
}

*::selection{
    background-color: rgb(70, 70, 70);
    color:              white;
}

body{
    background-color: black;
    color:            white;
    font-family:        'Roboto',sans-serif;
    font-size:          14px;
}

#seccion-1{
    background:       rgba(34, 33, 33, 0.432);
    background-size:  cover;
    padding:          1vh 8vw 1vh 8vw;
}

#seccion-2{
    position:   relative;
    text-align: center;
}

ul li{
    list-style: none;
    margin:     0;
    padding:    0;
    display:    inline-block;
}

ul li a{
    text-decoration: none;
    color:         white;
    font-weight:     500;
    display:         block;
    padding:         1.2em 1em;
    width: 130px;
}

ul li a:hover{
    background-color: white;
    color:            black;
}

.parallax{
    background-image:      url(https://cdn.pixabay.com/photo/2015/09/02/13/18/person-918986_960_720.jpg);
    background-attachment: fixed;
    background-size:       cover;
    background-position:   top;
    background-repeat:     no-repeat;
    width:                 100vw;
    height:                30vh;
}

#seccion-3 h2{
    font-size:   25px;
    text-align:  center;
    padding-top: 8vh;
}

.btn{
    position:           absolute;
    top:                37vh;
    left:               50%;
    transform:          translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0.897);
    color:            white;
    font-size:          15px;
    padding:            16px 30px;
    border:             none;
    cursor:             pointer;
    border-radius:      5px;
    text-align:         center;
}

#seccion-5 p{
    text-align:  justify;
    font-size:   15px;
    padding:     3vw 6vw 2vw 6vw;
    line-height: 22px;
    font-weight: 500;
}

#seccion-5 img{
    float:     right;
    max-width: 50vw;
}

@media screen and (max-width: 908px){
    #seccion-2{
        display: none;
    }
}