html, body{
    margin: 0;
    padding: 0;
}

.portada{
    background-image: url(http://www.softtek.com/images/content/ignite2017/otra2.jpg);
    position: relative;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.parallax{
    position: relative;
    width: 100%;
    height: 1px;
    padding: 200px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portada #texto{
    font-family: Helvetica;
    color: white;
    line-height: initial;
    font-size: 25px;
    text-align: left;
}

.portada #alineacion{
    margin-left: 10%;
}

.portada #logo-ignite{
    float: right;
    height: auto;
    position: relative;
    vertical-align: middle;
    max-width: 600px;
    margin-right: 3%;
    margin-top: 10px;
}

#logo{
    text-align: right;
}


nav{
    background-color: rgba(228, 222, 222, 0.849);
    background-size: cover;
    text-align: center;
}

nav ul{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
}

nav li{
    font-family: sans-serif;
    font-weight: 540;
    color: rgb(43, 42, 42);
    display: inline;
    text-align: center;
    padding: 20px;
    margin: 0;
}

ul li:hover{
    background-color: rgba(26, 161, 94, 0.856);
    color: white;
}

a{
    text-decoration: none;
}

ul #especial:hover{
    background:rgba(184, 18, 18, 0.699);
}

#softtek-logo:hover{
    width: 17%;
    height: auto;
}