*{
    margin: 0;
    font-family: sans-serif;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
h2{
    position: relative;
    top: 28vh;
}
img{
    height: 10vh;
    display: block;
    margin: auto;
    position: relative;
    top: 8vh;
}
div{
    position: relative;
    top: 32vh;
    background: rgba(247, 242, 242, 0.849);
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-left: 20%;
    margin-right: 20%;
    /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZD_6DnxOP683XI6sXQGZ3vGBVq2gwWVKCCPfSB5E3x9tLKGnb);*/
}
div > p{
    padding: 2.5vh 15%;
    text-align: center;
    color: black;
    line-height: 1.6em;
}

/*Sidebar*/
nav#sidebar{
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(228, 225, 225);
}
a{
    text-decoration: none;
}
#sidebar{
    transition: 0.3s;
}
#sidebar > a:first-of-type{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    color: black;
}
#sidebar > section > a{
    display: block;
    color: black;
    font-size: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#sidebar section{
    margin-top: 10vh;
    padding-left: 15%;
    padding-right: 15%;
}
nav#navbar{
    background-color: white;
    width: inherit;
    height: 5vh;
}
nav#navbar > span{
    color: black;
    font-size: 25px;
    margin-left: 1%;
    cursor: pointer
}