body{
    font-family: sans-serif;
    font-size: 15px;
}
strong{
    font-size: 20px;
}
body{
    margin: 10vh 25vw;
    text-align: left;
    line-height: 1.2em;
}
table{
    width: 100%;
}
#seccion-tabla1 table tr:first-child{
    background-color: black;
    color: white;
} 
#seccion-tabla2 table tr:first-child{
    background-color: black;
    color: white;
}
