body{
    font-family: 'Slabo 27px', serif;
    color: white;
    background-color: black;
    margin:20px;
}

header,footer{
    font-family: 'Yrsa', sans-serif;
    text-align: center;
    background-image: url(https://www.retourverslecinema.com/wp-content/uploads/2015/07/couv-meilleures-places.png);
}

.subtitulos{
    text-align: center;
    font-size: 18px;
}

.foto{
    border-style: solid;
    border-width: 4px;
    float: left;
    width: 135px;
    margin: 10px;
    margin-left: 0;
}

.peliculas1{
    float: left;
    width: 360px;
    margin-right: 190px;
    border-style: dashed;
    border-width: 3px;
    border-color: white;
}

.peliculas2{
    float: right;
    width: 280px;
    margin-right: 16px;
    margin-left: 0px;
    border-style: dashed;
    border-width: 3px;
    border-color: white;
    margin-top: 11px;
}

#listas{
    text-align: left;
}

.peliculas3{
    float: right;
    margin-top: 0px;
    margin-right: 23px;
    width: 280px;
    height: 408px;
    border-style: dashed;
    border-width: 3px;
    border-color: white;
    margin-top: 11px;
}

h1,h3{
    color:rgba(231, 235, 15, 0.842);
}

h1{
    font-size:30px;
}

#descripcion-quentin{
    text-align: justify;
    margin-right: 8px;
}

#premios{
    background-image: url(https://i.pinimg.com/originals/f1/7a/47/f17a4798b09209b5b5defe55754283e3.png);
    background-size: 1100px;
    background-position: right;
    background-repeat: no-repeat;
}