p{
    margin: 0px;
    background-color: rgb(0, 0, 0);
    color: white;
    /*text-align: center;*/
}

.centrado-margin{
    margin:30%;
}

.centrado-padding{
    padding:30%;
}

.derecha-margin{
    margin-left: 80%;
}

.derecha-padding{
    padding-left: 80%;
}

.izquierda-margin{
    margin-right: 80%;
}

.izquierda-padding{
    padding-right: 80%;
}

.arriba-margin{
    margin-top: 40px;
}

.arriba-padding{
    padding-top: 40px;
}

.abajo-margin{
    margin-bottom: 40px;
}

.abajo-padding{
    padding-bottom: 40px;
}

