*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    height: 10vh;
    width: inherit;
    background-color: rgba(10,59,97,100);
    color: white;
    text-align: center;
}
header h1{
    margin-top: 0;
}
header img{
    max-width: 60vh;
    float: left;
    position: relative;
    top: 3vh;
    left: 3vw;
}
nav ul{
    margin: 0;
    width: inherit;
    background-color: rgb(19, 19, 19);
    color: white;
    height: 6vh;
}
nav{
    position: sticky;
    top: 0;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 1vh 1vw;
    cursor: pointer;
}
article.parallax{
    background-image: url(https://3lsqjy1sj7i027fcn749gutj-wpengine.netdna-ssl.com/wp-content/uploads/2017/11/Calm-Technology-by-Amber-Case-at-mtpcon-2017.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
    width: inherit;
    height: 60vh;
    margin: 0;
}
article.parallax img{
    display: block;
    margin: auto;
    width: 50vw;
    padding-top: 10vh;
}
article.parallax h1, article.parallax h3{
    text-align: center;
    color: white;
}
article.contenido{
    margin: 4vh 8vw;
}
article.contenido section{
    display: inline-block;
    width: 25vw;
    text-align: center;
    margin-right: 4%;
    margin-bottom: 2vh;
}
#sin-margen{
    margin-right: 0;
}
article.contenido img{
    margin-top: 5vh;
    width: 100%;
}
button{
    display: block;
    margin: auto;
    margin-bottom: 8vh;
    background-color: #000000;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#btn2{
    color: white;
    background-color: rgba(0, 0, 0, 0.973);
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    bottom: -4vh;
    right: 4vw;
}
button a,a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
button img{
    width: 30px;
}
#oculto{
    background-color: #000000;
    height: 50vh;
    color: white;
    padding: 3vh 8vw;
}
#oculto section{
    display: inline-block;
    width: 65%;
    margin-right: 15%;
    text-align: justify;
}
#oculto section h1{
    margin-top: 0;
}
#oculto aside{
    display: inline-block;
    width: 18%;
}
#oculto aside img{
    display: inline-block;
    height: 40vh;
}
footer{
    padding: 3vh 8vw;
    margin-top: 8vh;
    background-color: rgba(10,59,97,100);
    color: white;
    height: 25vh;
}
footer h2{
    text-align: center;
}
footer form{
    width: 80vw;
    margin-top: 5vh;
    margin-left: 12%;
}
input, select{
    background-color: #e6e4e4;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}
button[type="submit"]{
    display: inline-block;
    margin: 0 0 0 1vw;
    background-color: #e6e4e4;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 6px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

@media screen and (max-width: 1230px){
    #btn2{
        display: none;
    }
}
@media screen and (max-width: 960px){
    select{
        display: none;
    }
}
@media screen and (max-width: 720px){
    input[type="text"]{
        display: none;
    }
    input{
        margin-left: 10vw;
    }
}
@media screen and (max-width: 825px){
    footer{
        display: none;
    }
    header img{
        width: 80vw;
    }
    #oculto aside{
        width: 0;
        display: none;
    }
    #oculto{
        height: auto;
    }
    #oculto section{
        width: 80vw;
    }
    h1,h2,h3,h4,h5{
        font-size: 16px;
    }
    article.contenido section{
        display: block;
        width: 85vw;
        margin-bottom: 6vh;
    }
    article.contenido section p{
        margin-bottom: 0vh;
        text-align: justify;
    }
    p{
        font-size: 15px;
    }
    
    article.parallax{
        height: 40vh;
        background-image: url(https://farm5.staticflickr.com/4460/37879144671_64cc6fd35c_b.jpg);
        background-attachment: initial;
        background-position: bottom;
    }
    nav ul{
        padding-top: 1vh;
        font-size: 15px;
    }
    nav #opcional-1, nav #opcional-2, nav #opctional-3{
        display: none;
    }
}
@media screen and (max-width: 420px){
    nav ul{
        font-size: 11px;
    }
    article.parallax{
        height: 40vh !important;
    }
}
@media screen and (max-width: 1024px){
    article.parallax{
        height: 30vh;
    }
}
@media screen and (max-height: 550px){
    nav ul{
        padding: auto 5vh;
    }
}