*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    height: 10vh;
    width: inherit;
    background-color: rgba(10,59,97,100);
    color: white;
    text-align: center;
}
header h1{
    margin-top: 0;
}
header img{
    max-width: 60vh;
    float: left;
    position: relative;
    top: 3vh;
    left: 3vw;
}
nav ul{
    margin: 0;
    width: inherit;
    background-color: rgb(19, 19, 19);
    color: white;
    height: 6vh;
}
nav{
    position: sticky;
    top: 0;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 1vh 1vw;
}
article.parallax{
    background-image: url(https://3lsqjy1sj7i027fcn749gutj-wpengine.netdna-ssl.com/wp-content/uploads/2017/11/Calm-Technology-by-Amber-Case-at-mtpcon-2017.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
    width: inherit;
    height: 60vh;
    margin: 0;
}
article.parallax img{
    display: block;
    margin: auto;
    width: 50vw;
    padding-top: 10vh;
}
article.parallax h1, article.parallax h3{
    text-align: center;
    color: white;
}
article.contenido{
    margin: 4vh 8vw;
}
article.contenido section{
    display: inline-block;
    width: 25vw;
    text-align: center;
    margin-right: 4%;
}
#sin-margen{
    margin-right: 0;
}
article.contenido img{
    margin-top: 5vh;
    width: 100%;
}
