*{
    margin: 0;
    font-family: sans-serif;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
h2{
    position: relative;
    top: 28vh;
}
img{
    height: 10vh;
    display: block;
    margin: auto;
    position: relative;
    top: 8vh;
}
div{
    position: relative;
    top: 32vh;
    background: rgba(247, 242, 242, 0.849);
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-left: 20%;
    margin-right: 20%;
    /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZD_6DnxOP683XI6sXQGZ3vGBVq2gwWVKCCPfSB5E3x9tLKGnb);*/
}
div > p{
    padding: 2.5vh 15%;
    text-align: center;
    color: black;
    line-height: 1.6em;
}