*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.portada{
    background-image: url(https://zgab33vy595fw5zq-zippykid.netdna-ssl.com/wp-content/uploads/2018/01/BrutalLifeCycleJavascript.png);
    background-position: center;
    height: 100vh;
    background-size: 100vw;
}

h1,h2{
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    line-height: 1.7em;
    letter-spacing: 0.9px;
}

h1{
    padding-top: 40vh;
}

h2{
    color: rgb(190, 185, 185);
}

#btn{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: not-allowed;
    border-radius: 5px;
    text-align: center;
}



form{
    padding: 20px 15px;
    height: 100vh;
}

input[type=text], input[type=number], input[type=email], select, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(59, 71, 179);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1d2658;
}

div#contenido {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


@media (max-height: 440px){
    #btn{
        display: none;
    }
    /*¿Que puedo hacer aqui para que al tener una pantalla con altura de 400px o menos
      se cambie el contenido del h2 a "Inscripciones cerradas"?*/
    /* Descomentar para ver funcionamiento:
    h1:after {
        content: "  -   Inscripciones cerradas";
    }*/
}

@media (max-height: 160px){
    h2{
        display: none;
    }
}