body{
    font-family: sans-serif;
}
div.container{
    background-image: linear-gradient(rgb(231, 21, 14), rgb(173, 4, 4));
    width: 30%;
    padding: 20px;
    color: rgb(233, 230, 230);
    font-weight: 600;
    display: inline-block;
}
div.container img{
    width: 30%;
}
button{
    border-radius: 8px;
}