html{
    height: 100%;
    overflow: hidden;
    background: #000;
}

body{
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
}

header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1{
    margin-top: -100px;
}

header, header:before{
    background: 50% 50% / cover;
}

header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(https://images3.alphacoders.com/119/119855.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header *{
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

.static {
    background: rgba(0, 0, 0, 0.712);
    padding: 0 20% 0 20%;
}


/*SACADO DE CODEPEN.IO*/

.section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 100vh;
    
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-image:url(http://juegosdigitalescr.com/wp-content/uploads/2016/08/Dead-Space-3-GC02.bmp);
    background-repeat: no-repeat;
    background-size: 100%;

}
  
.parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg2::after {
    background-image: url(https://images4.alphacoders.com/752/75208.jpg);
}

section{
    text-align: justify;
    line-height: 160%;
}
