*{
    font-family: sans-serif;
    box-sizing: border-box;
}

/*REGLAS GENERALES*/
body{
    margin: 0;
}
p{
    font-size: 15px;
    color: rgb(75, 74, 74);
}
a{
    text-decoration: none;
    color: rgb(8, 8, 105);
}
ul{
    list-style: none;
}
/*HEADER*/
header h1{
    margin: 15px 0 20px 45px;
    color: rgb(6, 6, 78);
    font-size: 45px;
}

/*NAV*/
nav{
    color: rgb(6, 6, 78);
    background-color: rgba(226, 223, 223, 0.747);
    width: 98.7vw;
    font-weight: 600;
    margin: 0;
}
nav ul{
    padding: 0;
}
nav ul li{
    font-size: 15px;
    display: inline-block;
    padding: 7px 0px 7px 25px;
}

/*SECTION*/
section{
    margin: 20px 50px;
}

/*ID SECCION-1*/
#seccion-1 img{
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}
#seccion-1 h1{
    color: rgb(6, 6, 78);
    font-size: 48px;
    margin: 0;
}
#seccion-1 p{
    text-align: justify;
    margin-right: 70px;
    margin-bottom: 20px;
    line-height: 18px;
}

#seccion-1 hr{
    clear: left;
    margin-top: 20px;
}

/*ID SECCION-2*/
.cuadro{
    background-color: rgba(226, 223, 223, 0.747);
    display: inline-block;
    width: 30%;
    margin-right: 4.5%;
    padding: 10px 20px;
    text-align: justify;
}
.cuadro:last-child{
    margin-right: 0;
}
#seccion-2{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*FOOTER*/
footer{
    background-color: rgba(226, 223, 223, 0.747);
    padding: 10px 50px;
}
div.rect{
    display: inline-block;
    width: 24%;
}
div.rect ul{
    padding-left: 0;
    color: rgb(12, 12, 110);
}
#aviso{
    position: relative;
    top: 0;
    left: 0;
}