*{
    font-family: sans-serif;
    box-sizing: border-box;
}
.row{
    height: 100vh;
}
body{
    background-image: url(https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Free-Images-8-Bit-PIC-WPC0014543.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
div.col-12{
    text-align: center;
}
input{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    border: 1px solid gray;
    padding: 10px 40px;
    text-align: center;
}
img{
    display: inline-block;
    width: 200px !important;
    height: 150px !important;
}
input, button{
    transform: translateY(5vh);
    display: inline-block;
    height: 5vh;
}
#response{
    position: relative;
    top: 8vh;
    text-align: center;
}
