*{
    box-sizing: border-box;
    text-align: center;
}
header{
    margin-bottom: 5vh;
}
table[border="0"]{
    width: 100%;
    background: greenyellow;
}
table[border="1"]{
    width: 100%;
    background: rgb(0, 174, 255);
}
