*{
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}

header #img1{
    height: 15vh;
    width: auto;
    position: absolute;
    top: 0;
    left: 10vw;
}
header #img2{
    height: 15vh;
    width: auto;
    position: absolute;
    top: 0;
    right: 10vw;
}
header{
    height: 16vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.829);
    padding-bottom: 7vh;
    margin-bottom: 5vh;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 0.1em;
}
button{
    margin-top: 1.5vh;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.699);
    border: 4px rgba(0, 0, 0, 0.699) solid;
    color: white;
}
body{
    background-image: url(https://images4.alphacoders.com/646/646937.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Merriweather', cursive;
    font-size: 14px;
}
header h1{
    padding: 3vh 0 1vh 0;
    font-size: 4vh;
}


#t-header td{
    background: rgba(82, 19, 19, 0.87);
    color:      white;
    padding: 3vh 0;
    font-weight: bold;
}
#pag-principal{
    margin: 0;
}
table{
    font-size: 2.2vh;
}
table tr td{
    width:        33.33vw;
    background: rgba(255, 255, 255, 0.712);

}
table tr td table tr td:nth-child(1){
    font-weight: 600;
    text-align: right;
}

table tr td table tr td:nth-child(2){
    font-style: italic;
    background: rgba(82, 19, 19, 0.74);
    color: white;
}

#galeria{
    margin: 5vh 6vw;
}
#galeria img{
    width: 33%;
    height: 200px;
    float: left;
    filter: blur(4px);
}

/*
#galeria img:hover{
    filter: blur(0px);
}
*/