*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
}

ul{
    clear: left;
    max-width: 900px;
    padding: 15px;
    background: aquamarine;
}
li{
    text-decoration: none;
    display: inline;
    padding: 10xp 25px; 
    margin-right: 5px;
}

#seccion-1{

    background: rgb(82, 150, 127);
    padding-bottom: 20px;
}

table{
    width: 100%;
    text-align: center;
}
